html {
  height: 100%;
}

body {
  min-height: 100%;
  min-width: 60%;
}

.aligncenter {
  text-align: center;
}

.accordion .content {
  background: #124;
}

.accordion label {
  color: #fff;
  cursor: pointer;
  font-weight: normal;
  padding: 10px;
  background: #038;
  
}

.accordion h2 {
    margin-bottom: 0px;
    color: #fff;
}

.accordion label {
    margin-bottom: 0px;
}

/**columnar */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  flex: 1;
}
